.weather-wrapper { border: solid 2px #ADC0CF; }
.weather-wrapper .weather-icon { margin: 0 auto; }
.weather-wrapper .weather-location { font-weight: bold; font-size: 13px; }
.weather-wrapper .weather-location .weather-country { display: block; font-size: 12px; }
.weather-wrapper .weather-temperature { margin: 10px auto 0; width: 200px; padding: 0; list-style: none; background: none; font-size: 12px; }
.weather-wrapper .weather-condition { margin: 0 auto; width: 200px; padding: 0; list-style: none; background: none; font-size: 12px; }
.weather-wrapper .weather-humidity { margin: 0 auto; width: 200px; padding: 0; list-style: none; background: none; font-size: 12px; }
.weather-wrapper .weather-wind-condition { margin: 0 auto; width: 200px; padding: 0; list-style: none; background: none; font-size: 12px; }
.weather-wrapper .weather-forecast li { overflow: hidden; line-height: 28px; margin: 0 auto; padding: 2px 0; list-style: none; text-align: left; background: none; }
.weather-wrapper .weather-icon-thumb { display: inline-block; width: 50px; vertical-align: middle; text-align: center; float: left; }
.weather-wrapper .weather-day1 { display: inline-block; width: auto; }
.weather-wrapper .weather-day2 { display: inline-block; width: auto; }
.weather-wrapper .weather-day3 { display: inline-block; width: auto; }
.icit-credit-link { margin: 20px 0; font-size: 10px; }